.grid_container{
    height: 100vh;
    width: 100%;
    padding: 5px;
    display: grid;
    grid-template-areas: "menu header"
                        "menu main"
                        "recomendados main"
                        "recomendados reproduccion"
                        "footer footer";
    grid-template-columns: 20% 1fr;
    grid-template-rows: 10% 30% 30% 20% 10%;
    grid-column-gap: 20px;
}
@media (max-width: 768px) {
    .grid_container{
        height: auto;
        padding-bottom: 60px;
        grid-template-areas: "header"
                            "menu"
                            "main"
                            "recomendados"
                            "footer";
        grid-template-rows: repeat(6, auto);
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }
}
.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 768px){
    .header{
        flex-direction: column-reverse;
    }
}
.header .user_info{
    display: flex;
    align-items: center;
}
@media(max-width: 768px) {
    .header .user_info{
        align-self: self-end;
    }
}
.menu{
    grid-area: menu;
    margin-bottom: 10px;
}
.menu ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.menu ul li{
    flex: 1;
}
.menu ul li a{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--light-gray);
    transition-property: color;
    transition-duration: 0.5s;
}
.menu ul li a:hover{
    color: var(--white);
}
.main{
    grid-area: main;
}
.recomendados{
    grid-area: recomendados;
    display: flex;
    flex-direction: column;
}
.recomendados div{
    position: relative;
    min-height: 200px;
    max-height: 400px;
}
.recomendados .cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.recomendados .star{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 10px;
    top: 10px;
}
.recomendados .paragraph{
    overflow-y: scroll;
    scrollbar-width: none;
}
.recomendados .paragraph::-webkit-scrollbar{
    display: none;
}

.reproduccion{
    grid-area: reproduccion;
    width: 100%;
    margin: auto 0;
    background-color: var(--primary-color);
    border-radius: 5px;
}
.reproduccion audio{
    width: 100%;
}
audio::-webkit-media-controls-panel {
    background-color: var(--primary-color);
}
@media (max-width: 768px) {
    .reproduccion{
        position: fixed;
        bottom: 10px;
    }
}
.footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid var(--dark-gray);
}
@media (max-width: 768px){
    .footer{
        grid-template-columns: repeat(2, 1fr);
    }
}
