.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
    }
}

.card a {
    text-align: center;
}

.field {
    flex-direction: column;
}