.grid_container{
    height: 100vh;
    width: 100vw;
    padding: 5px;
    display: grid;
    grid-template-areas: "main"
                        "footer";
    grid-template-rows: 90% 10%;
}
@media (max-width: 768px){
    .grid_container{
        width: 100%;
    }
}
.main{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
@media (max-width: 768px){
    .card{
        width: 90%;
    }
}
.card a{
    text-align: center;
}
.field{
    flex-direction: column;
}
.footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid var(--dark-gray);
}
@media (max-width: 768px){
    .footer{
        grid-template-columns: repeat(2, 1fr);
    }
}

