.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
    }
}

.card a {
    text-align: center;
}

.field {
    flex-direction: column;
}
.field input{
    margin-top: 5px;
    margin-bottom: 15px;
}

.mensaje_error{
    display: none;
    color: red;
    margin-bottom: 10px;
}