.field {
  display: flex;
}
.field label{
  padding-bottom: 5px;
}
.field input{
  width: 100%;
  padding: 15px 5px;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .field input{
    padding: 10px 2px;
  }
}
.button{
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: var(--primary-color);
    color: var(--white);
    border: 0;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.5s;
    text-decoration: none;
}
.button:hover{
    background-color: var(--primary-color-dark);
}
.button_full{
  width: 100%;
}

