.avatarFoto{
    display: flex;
    width: 50px; 
  height: 50px; 
  border-radius: 50%; 
}

.planElegido{
    display: flex;
    position: relative;
    padding: 20px 20px 20px 20px;
    justify-content: center;

}

.planElegido .img {
    padding: 0px 0px 0px 0px;
    width: 15%;
    height: 15%;
    border: 2px solid black;
    border-radius: 5%;
}

.planElegido .parrafo{
    display: block;
    position: relative;
    margin-top:30px;
    padding: 0px 0px 0px 20px;
   
}

.parrafosPlan{
    margin-top: 10px;
}
