.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header h2{
    padding-left: 150px;
}
.form_plan{
    width: 90%;
    margin: auto;
}
.grid_container_plans {
    display: flex;
    justify-content: space-around;
}

.plan_premium img {
    width: 100%;
}
.tipoDePlan h3 {
    margin-bottom: 10px;
}
.tipoDePlan {
    width: 20%;
}
.plan_description ul {
    list-style: none;
    font-size: 0.8em;
    margin-top: 20px;
}

.planRadioButton {
    width: 20px;
    height: 20px;
    background-color: white;
    accent-color: green;
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    cursor: pointer;
    position: relative;
    left: 50%;
}


/*Responsive*/

@media(max-width: 768px) {
    .header {
        flex-direction: column-reverse;
    }
}
@media (max-width: 768px){
    .header h2{
        padding-left: 0;
        padding-bottom: 10px;
    }
}
@media(max-width: 768px) {
    .header .user_info {
        align-self: self-end;
    }
}
@media(max-width: 768px) {
    .grid_container {
        grid-template-rows: repeat(3, auto);
    }
}
@media(max-width: 768px) {
    .grid_container_plans {
        flex-direction: column;
        margin: auto;
        align-items: center;
    }
}
@media (max-width: 768px){
    .tipoDePlan {
        width: 80%;
    }
}
@media (max-width: 768px){
    .button_container{
        margin-bottom: 20px;
    }
}

