body{
    margin: 0;
}
.grid_container{
    height: 100vh;
    width: 100%;
    padding: 5px;
    display: grid;
    box-sizing: border-box;
    grid-template-areas: "main"
                        "footer";
    grid-template-rows: max-content 10%;
}
@media (max-width: 768px) {
    .grid_container{
        width: 100%;
    }
}
.main{
    grid-area: main;
}
.card{
    height: 100%;
    padding: 30px 50px;
}
@media (max-width: 768px) {
    .card{
        padding: 20px 30px;
    }
}
.card h1{
    padding-bottom: 20px;
}
.card form{
    display: flex;
    flex-direction: column;
}
.fields{
    width: 80%;
}
@media (max-width: 768px) {
    .fields{
        width: 100%;
    }
}
.field{
    align-items: center;
}
.field label{
    flex: 1;
}
.field input{
    flex: 2;
}
@media (max-width: 768px){
    .field input{
        flex: 1;
    }
}
.button{
    margin-top: 20px;
    align-self: center;
}
.footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid var(--dark-gray);
}
@media (max-width: 768px){
    .footer{
        grid-template-columns: repeat(2, 1fr);
    }
}