/*.grid_container{
    height: 100vh;
    width: 100%;
    padding: 5px;
    display: grid;
    grid-template-areas: "main"
                        "footer";
    grid-template-rows: 90% 10%;
}
.main{
    grid-area: main;
}*/
@media(max-width: 768px){
    .grid_container{
        grid-template-rows: repeat(2, auto);
    }
}
.card {
    height: 100%;
    padding: 10px 50px 30px 50px;
}

@media (max-width: 768px) {
    .card {
        padding: 20px 30px;
    }
}

.card h1 {
    padding-bottom: 20px;
}

.card form {
    display: flex;
    flex-direction: column;
}

.fields {
    width: 80%;
}

@media (max-width: 768px) {
    .fields {
        width: 100%;
    }
}

.field {
    align-items: center;
}

.field label {
    flex: 1;
}

@media (max-width: 375px) {
    .field label {
        font-size: 0.7em;
    }
}

@media (min-width: 376px) and (max-width: 768px) {
    .field label {
        font-size: 0.8em;
    }
}

.field input {
    flex: 2;
}

@media (max-width: 768px) {
    .field input {
        flex: 1;
    }
}

.button {
    margin-top: 20px;
    align-self: center;
}
.contenedor_msj_error{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.mensaje_error{
    display: none;
    color: red;
    margin-top: 5px;
}
@media (max-width: 768px) {
    .mensaje_error{
        width: 50%;
    }
}
