.header .search_input{
    width: 60%;
    border-radius: 8px;
    padding: 3px 6px;
}
@media(max-width: 768px) {
    .header .search_input{
        width: 100%;
    }
}
.menu .buscar{
    background-color: var(--primary-color);
}
.main .albums{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    overflow-y: auto;
    gap: 10px;
}
@media(max-width: 768px) {
    .main .albums{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width: 375px) {
    .main .albums{
        grid-template-columns: repeat(2, 1fr);
    }
}
.main .albums a img{
    width: 100%;
}
